<<<<<<< HEAD

body {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: slategrey;
}
div {
  border: 10px red;
}
form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.formulario{
  width: 90vw;
}
input {
  border-style: none;
  height: 2rem;
  border-radius: 5px;
  margin: 1% 0;
  padding-left: 2%;
}
p {
  font-weight: bold;
}
button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size:1.5rem;
    font-weight:bold;
    color: whitesmoke;
    background-color: green
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mt{
  background-image: url('./images/monster.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.cardName{
  height: 8%;
  margin: 9% 6%;
  font-size: 1rem;
  padding: 0% 5%;
}
.cardImage{
  display: flex; /* width of container */
  width: 80%; /* height of container */
  height: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}
.cardImage img{
  width:fit-content;
  border: 5px solid black;
  overflow: hidden;
}
.cardDescription {
  display: flex;
  height:inherit;
  font-size:0.6rem;
  padding: 0 10% 0 10%;
}


.tp{
  background-image: url('./images/trap.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.mg{
  background-image: url('./images/magic.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: aqua;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 4 / 2; }
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
=======
<<<<<<< HEAD

body {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: slategrey;
}
div {
  border: 10px red;
}
form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.formulario{
  width: 90vw;
}
input {
  border-style: none;
  height: 2rem;
  border-radius: 5px;
  margin: 1% 0;
  padding-left: 2%;
}
p {
  font-weight: bold;
}
button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size:1.5rem;
    font-weight:bold;
    color: whitesmoke;
    background-color: green
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mt{
  background-image: url('./images/monster.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.cardName{
  height: 8%;
  margin: 9% 6%;
  font-size: 1rem;
  padding: 0% 5%;
}
.cardImage{
  display: flex; /* width of container */
  width: 80%; /* height of container */
  height: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}
.cardImage img{
  width:fit-content;
  border: 5px solid black;
  overflow: hidden;
}
.cardDescription {
  display: flex;
  height:inherit;
  font-size:0.6rem;
  padding: 0 10% 0 10%;
}


.tp{
  background-image: url('./images/trap.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.mg{
  background-image: url('./images/magic.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: aqua;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 4 / 2; }
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
=======

body {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: slategrey;
}
div {
  border: 10px red;
}
form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.formulario{
  width: 90vw;
}
input {
  border-style: none;
  height: 2rem;
  border-radius: 5px;
  margin: 1% 0;
  padding-left: 2%;
}
p {
  font-weight: bold;
}
button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size:1.5rem;
    font-weight:bold;
    color: whitesmoke;
    background-color: green
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mt{
  background-image: url('./images/monster.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.cardName{
  height: 8%;
  margin: 9% 6%;
  font-size: 1rem;
  padding: 0% 5%;
}
.cardImage{
  display: flex; /* width of container */
  width: 80%; /* height of container */
  height: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}
.cardImage img{
  width:fit-content;
  border: 5px solid black;
  overflow: hidden;
}
.cardDescription {
  display: flex;
  height:inherit;
  font-size:0.6rem;
  padding: 0 10% 0 10%;
}


.tp{
  background-image: url('./images/trap.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}
.mg{
  background-image: url('./images/magic.png');
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-repeat: no-repeat;
  background-size:100%;
  width: 30vw;
  height: 45.4vh;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: aqua;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 4 / 2; }
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
>>>>>>> a58a4be2a3b6b3146d65e84120e12b20ea8ab877
>>>>>>> 9172f26830b2dc75aee888a06b918ad41cba1418
  .div4 { grid-area: 3 / 1 / 4 / 2; }