body {
    height: 1200px;
    background-image: url('../colourful-watercolour-texture_1048-11773.jpg');
    background-size: cover;
    font-family:monospace;
  }
  h1{
    color: magenta;
    text-align: center;
    font-size: 50px;
    transition: all ease-in-out 0.2s;
    font-family:cursive;
  }
  h1::first-letter{
      font-size: 70px;
      color: rgb(87, 26, 230);
  }
  img{
      width: 500px;
      display: block;
      margin: 30px auto;
      transition: all ease-in-out 0.2s;
  }
  img:hover{
      transition: all ease-in-out 0.2s;
      width: 525px;
  }
  h3{
      font-size: 22px;
      color: rgb(56, 19, 90);
  }
  form {
    display: block;
    text-align: center;
  }
  p{
      font-size: 18px;
  }
  #bloco{
      background-color: rgba(255,255,255,0.4);
      border-radius: 25px;
      padding: 8px 15px;
      border: solid purple;
  }
  button:disabled {
    margin-top: 5px;
    background-color: rgb(99, 67, 95);
    color: white;
  }
  
  input:focus {
    background-color: rgb(255, 181, 249);
  }
  il::nth-child(1){
      background-color: crimson;
  }
  a {
    font-size: 30px;
    font-weight: bold;
  }
  
  a:link  {
    color: rgb(157, 28, 243);
  }
  
  a:visited {
    color: rgb(231, 124, 24);
  }
  
  a:hover  {
    color: rgb(148, 12, 202);
  }
  
  a:active {
    color:rgb(17, 133, 7);
  }
  
  p:target {
    background-color: gold;
  }
  
  #p3::first-letter {
    color: red;
    font-size: 30px;
  }
  
  #p3::after{
    content: "Atenção aqui!";
    color: red;
  }
  
  button {
    background-color: red;
    color: white;
  }
  
