// variaveis

$primary-color: green;
html{
    display: flex;
    background-image: url('https://pa1.narvii.com/6426/3d0dcadd00caec5b8fe78e131caa0d6acd8c785b_hq.gif');
    background-size: cover;
    background-repeat: no-repeat;
    align-items:center;
    justify-content:center;
}
h1 {
    font-size: 3rem;
    background-color: $primary-color;
    border-radius: 2rem 0 2rem 0;
    padding: 0rem 7rem 0rem;
    color: wheat;
    border: solid black;
}
main{
    margin-top: 15vh;
    border: solid orangered;
    display: flex;
    background-image: url('https://i0.wp.com/i.pinimg.com/originals/18/6b/80/186b8006fed1453bdb84730132ab874d.jpg');
    background-position: center;
    border-radius: 1vw;
    padding: 1rem;
    font-size: 1.2rem;
    width: 30rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#corpo{
    background-color: rgba(255,255,255,0.4);
    border-radius: 1vw;
    padding: 0rem 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}