*{
    box-sizing: border-box;
}
body {
    height: 2000px;
}
.caixaMae{
    border: solid;
    position: absolute;
    width: 1800px;
    height: 600px;
}
.caixa{
    position: absolute;
    border: solid;
    align-content:center
}
#box1{
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
#box2{
    position: fixed;
    left: 700px;
    top: 307px;
    width: 300px;
    height: 300px;
}
#box3{
    right: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
}
.boxCenter{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 50px;
    border: solid;
    width: 200px;
    height: 200px;
}
