html {
  scroll-behavior: smooth;
  width:30vw;
}

body {
  width: inherit;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'main2'
    'main3'
    'main4';
  grid-template-rows: 15vh 37.5vh 37.5vh 10vh;
  overflow-x: hidden;
  overflow: auto;
}



body header {
  grid-area: header;
  height: 15vh;
  width: 1fr;
}
main a {
  display: inline-block;
  color: rgb(230, 101, 62);
  position: relative;
  left: 80%;
}
main div {
  padding: 20px 20px 20px 30px;
  margin: 0px 0px 15px 0px;
}

#menu {
  display: grid;
  grid-template-areas:
    'menuz'
    'botoes';
  grid-template-rows: 8vh 7vh;
  color: blanchedalmond;
  height: 15vh;
  background-color: black;
  grid-area: header;
  position: fixed;
  top: 0;
  justify-content: center;
  width: inherit;
}

#menu1 {
  grid-area: menuz;
}

#buttons {
  grid-area: botoes;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  width: 11vh;
  height: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: solid blue;
}

button:hover {
  background-color: springgreen;
}

h2 {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

body main {
  grid-area: main;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: bold;
}

#secao1 {
  background-color: rgb(247, 158, 232);
  padding: 1rem;
  grid-area: main;
  height: 800px;
  border: dotted red;
}

#secao2 {
  grid-area: main2;
  height: 800px;
  background-color: rgb(240, 238, 151);
  border: ridge green;
}

#secao3 {
  background-color: rgb(62, 230, 208);
  padding: 1rem;
  grid-area: main3;
  height: 800px;
  border: solid orangered;
}

#secao4 {
  grid-area: main4;
  height: 800px;
  background-color: rgb(127, 187, 255);
  border: outset aqua;
}

@media (max-width:1080px) {}