#mae{
    border: solid;
    border-radius: 30px;
    box-sizing: content-box;
    padding: 20px;
    width: 400px;
    background-color: turquoise;
}
.campo{
    position:relative;
    padding: 10px;
}

label{
    size: 25px;
}
input{
    width: 50%;
    position: relative;
    float: right;
}
#ddd{
    width: 30px;
    margin-right: 5px;
}
.button{
    padding-top: 10px;
    text-align: center;
}