body {
    height: 1200px;
    background-image: url('../img/colourful-watercolour-texture_1048-11773.jpg');
    background-size: cover;
    font-family:monospace;
    background-attachment: fixed;
  }
  h1{
    color: magenta;
    text-align: center;
    font-size: 50px;
    transition: all ease-in-out 0.2s;
    font-family:cursive;
  }
  h1::first-letter{
      font-size: 70px;
      color: rgb(87, 26, 230);
  }
  img{
      width: 500px;
      display: block;
      margin: 30px auto;
      transition: all ease-in 1s;
  }
  #rainbow{
    z-index: -1;
    display: flex;
    position: absolute;
    top: 0px;
    animation: arcoiris 60s infinite ease-in-out 2s;
  }
  @keyframes arcoiris {
    0% {transform: translateX(30px);}
    50% {transform: translateX(1200px);}
    100% {transform: translateX(0px);}
  }
  #unicorn:hover{
      transform: scale(1.2) rotate(5deg);
      transition: ease-out 2s;
  }
  h2{
    font-size: 50px;
    color: blueviolet;
    font-family: cursive;
  }
  form {
    display: block;
    text-align: center;
  }
  .cards{
    flex: 0 1 auto; /*grow shrink size*/
    width: 18vw;
    border-radius: 30px;
    filter:grayscale(1);
  }
  .cards:hover{
    transform: scale(1.1);
    filter:grayscale(0);
    transition: all ease-in-out 0.5s;
  }
  #bloco{
      display: flex;
      background-color: rgba(255,255,255,0.4);
      border-radius: 25px;
      padding: 8px 15px;
      border: solid purple;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-evenly;
  }
  #star{
    width: 50px;
    position: absolute;
    top: 20px;
    left: 50px;
    animation: twinkle 2.3s infinite;
  }
  @keyframes twinkle{
    0%{}
    50%{transform: scale(130%) rotate(15deg); filter: brightness(3);}
    100%{transform: scale(100%); filter: brightness(1);}
  }
  #footer{
    display: flex;
    background-color: darkorchid;
    height: 15vh;
    margin-top: 2vh;
    border-radius: 25px;
  }
  

  
  
